<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsList | paginate: { itemsPerPage: 10, currentPage: p, id: 'second'}">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.category.categoryName}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
        </tr>
    </tbody>
    <tr *ngIf="productsList?.length > 10">
        <td colspan="5">
            <pagination-controls (pageChange)="p = $event" id="second" style="float: right;"></pagination-controls>
        </td>
    </tr>
    <tr *ngIf="productsList?.length === 0">
        <td colspan="5" style="text-align: center;">
            <h5 class="h5">No Products to Show</h5>
        </td>
    </tr>
</table>