<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Order Date</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of ordersList">
            <td>{{order.orderId}}</td>
            <td>{{order.orderDate | dateParser}}</td>
            <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.orderStatus | orderStatusParser}}</td>
        </tr>
    </tbody>
</table>