<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{newOrdersCount}}</h3>
                <p>New Orders</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <a [routerLink]="['/orders']" class="small-box-footer">
                More Info
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{totalProductsCount}}</h3>
                <p>Total Products</p>
            </div>
            <div class="icon">
                <i class="fa fa-product-hunt"></i>
            </div>
            <a [routerLink]="['/products']" class="small-box-footer">
                More Info
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="small-box bg-red">
            <div class="inner">
                <h3><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{totalIncomeTillDate}}</h3>
                <p>Total Income This Year</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
            <a [routerLink]="['/orders']" class="small-box-footer">
                More Info
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="row mobile-hide bg-white">
    <div class="col-lg-7 col-md-12">
        <chart [options]="options"></chart>
    </div>
    <div class="col-lg-5 col-md-12 m-t-50px">
        <div class="row">
            <div class="col-lg-12 col-md-4 h-100px border-bottom m-t-20px">
                <h2>{{totalOrdersCount}}</h2>
                <span>Total Orders Till Date</span>
            </div>
            <div class="col-lg-12 col-md-4 h-100px border-bottom m-t-20px">
                <h2>{{currentMonthOrderCount}}</h2>
                <span>Orders in Current Month</span>
            </div>
            <div class="col-lg-12 col-md-4 h-100px m-t-20px">
                <h2><i class="fa fa-inr"></i>&nbsp;{{currentMonthIncome}}</h2>
                <span>Current Month Income</span>
            </div>
        </div>
    </div>
</div>

<div class="row h-50px"></div>

<div class="container bg-white hidden-sm-down">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#orders" data-toggle="tab">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#products" data-toggle="tab">Products</a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active m-t-20px" id="orders">
            <dashboard-order-list></dashboard-order-list>
        </div>
        <div class="tab-pane m-t-20px" id="products">
            <dashboard-products-list></dashboard-products-list>
        </div>
    </div>
</div>