<div class="m-t-20px">
    <table class="table">
        <thead class="green accent-1">
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Order Date</th>
                <th class="hidden-sm-down">Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">O-101</th>
                <td>Sushant Joshi</td>
                <td>07/09/2017</td>
                <td class="hidden-sm-down">
                    <i class="fa fa-inr"></i>&nbsp;
                    1200
                </td>
                <td>
                    <button type="button" class="btn btn-indigo btn-sm">Action</button>
                </td>
            </tr>
            <tr>
                <th scope="row">O-102</th>
                <td>Mugdha Khadilkar</td>
                <td>08/10/2016</td>
                <td class="hidden-sm-down">
                    <i class="fa fa-inr"></i>&nbsp;
                    200
                </td>
                <td>
                    <button type="button" class="btn btn-indigo btn-sm">Action</button>
                </td>
            </tr>
            <tr>
                <th scope="row">O-103</th>
                <td>Kalpana Vaidya</td>
                <td>12/06/2017</td>
                <td class="hidden-sm-down">
                    <i class="fa fa-inr"></i>&nbsp;
                    2000
                </td>
                <td>
                    <button type="button" class="btn btn-indigo btn-sm">Action</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>